@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5f605d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #383838;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 20px 50px #575856;

}

.TodoForm {
  width: 100%;
  
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #ef6817;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  width: 350px;
  color: #fff;
  border-radius: 5px;
  
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #ef6817;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-out;
  
}
.todo-btn:hover{
  box-shadow: 0 18px 40px -12px rgba(242, 162, 12,.35);
  transform: translateY(3px);
}


.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ef6817;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 72vh;
  
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.task-c{
  color: #c5aeff;

}
